<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{faculty/base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div th:if="${session.pwd_change_msg}">
			<script th:inline="javascript">
				$(document).ready(function() {
					toastr.options.positionClass = 'custom-toast-placement';
					if ([[${session.pwd_change_msg.type}]] == "danger") {
						toastr.error([[${session.pwd_change_msg.content}]]);
					} else {
						toastr.success([[${session.pwd_change_msg.content}]]);
					}
				});							
			</script>
			<span th:remove="${#session.removeAttribute('pwd_change_msg')}"></span>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<form th:action="@{/faculty/update_password}" method="post">
								<input type="hidden" id="todoeditid" name="id"/>
								<div class="row">
									<div class="col-md-6 mb-1">
										<div class="form-outline required">
											<label class="form-label" for="oldPassword">Old Password</label>
											<input type="text" id="oldPassword" name="oldPassword" required class="form-control"/>
										</div>
									</div>
									<div class="col-md-6 mb-1">
										<div class="form-outline required">
											<label class="form-label" for="newPassword">New Password</label>
											<input type="text" id="newPassword" name="newPassword" required class="form-control"/>
										</div>
									</div>
								</div>				
								<div class="d-flex justify-content-end pt-3">
									<input type="submit" name="submit" class="btn btn-primary btn-md ms-2" value="Update">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>