<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Focus Flow</title>
</head>
<body>
	<section>
		<div class ="card">
			<div class="card-body">
				<table class="table">
					<tbody>
						<tr>
							<th scope="row">Fullname</th>
							<td th:text="${session.user.fullName}"></td>
						</tr>
						<tr>
							<th scope="row">Username</th>
							<td th:text="${session.user.username}"></td>
						</tr>
						<tr>
							<th scope="row">Email</th>
							<td th:text="${session.user.email}"></td>
						</tr>
						<tr>
							<th scope="row">Mobile No</th>
							<td th:text="${session.user.phoneNo}"></td>
						</tr>
						<tr>
							<th scope="row">Gender</th>
							<td th:text="${session.user.gender}"></td>
						</tr>
						<tr>
							<th scope="row">Role</th>
							<td th:text="${session.user.role}"></td>
						</tr>
						<tr>
							<th scope="row">Branch</th>
							<td th:text="${session.user.branch}"></td>
						</tr>
						<tr>
							<th scope="row">Semester</th>
							<td th:text="${session.user.semester}">@</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>
</html>