<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Focus Flow</title>
</head>
<body>
	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class ="card">
						<div class="card-body">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Id</th>
										<th scope="col">Name</th>
										<th scope="col">User Name</th>
										<th scope="col">Email</th>
										<th scope="col">Phone</th>
										<th scope="col">Gender</th>
										<th scope="col">Role</th>
										<th scope="col">Branch</th>
										<th scope="col">Semester</th>
										<!--<th scope="col">Action</th>		-->					
									</tr>
								</thead>
								<tbody>
									<tr th:each="u : ${users}">
										<th scope="row" th:text="${u.id}">1</th>
										<td th:text="${u.fullName}"></td>
										<td th:text="${u.username}"></td>
										<td th:text="${u.email}">@</td>
										<td th:text="${u.phoneNo}">@</td>
										<td th:text="${u.gender}">@</td>
										<td th:text="${u.role}">@</td>
										<td th:text="${u.branch}">@</td>
										<td th:text="${u.semester}">@</td>
										<!--<td>
											<a th:href="@{'/admin/dashboard/user/delete/'+${u.id}}" class="btn btn-danger btn-sm">Delete</a>
											<a th:href="@{'/admin/dashboard/user/update/'+${u.id}}" class="btn btn-primary btn-sm">Update</a>
										</td>-->
									</tr>
								</tbody>
							</table>
							<!-- pagination part -->
							<nav aria-label="Page navigation example">
								<ul class="pagination">
									<li th:if="${currentPage != 0}" class="page-item">
										<a th:href="@{'/admin/dashboard/user/view/'+${currentPage-1}}" class="page-link" href="#" aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
											<span class="sr-only">Previous</span>
										</a>
									</li>
									
									<li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item">
										<a th:href="@{'/admin/dashboard/user/view/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a>
									</li>
									
									<li th:if="${currentPage+1 != totalPages}" class="page-item">
										<a th:href="@{'/admin/dashboard/user/view/'+${currentPage+1}}" class="page-link" href="#" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
											<span class="sr-only">Next</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>